<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>mychat</title>
    <script src="../static/socket.io.js"></script>
    <script>
      window.onload = () =>{
        const socket = io('ws://' + window.location.host, {path:'/ws/socket.io'});

        const resp_text = document.getElementById("resp_text");
        req_text.addEventListener('keypress', (evt) => {
          if (evt.keyCode == 13){ // Enter
            socket.emit("message", req_text.value);
	    req_text.value = "";
	  }
        });

        let id_value = null;
	const id = document.getElementById("id");
	socket.emit("id");
	socket.on("id", function(data){
          if (id_value === null){
	    id_value = data;
	    id.textContent = id_value;
	  }
	});
        socket.on("message", function(data){
          dialog.innerHTML = data.join("<br>");
        });
      }
    </script>
  </head>
  <body>
    <h1>This is mychat project.</h1>
    Your id is <span id="id"></span><br>
    <h3>Send</h3>
    내용: <input type="text" id="req_text" />
    <h3>Dialog record</h3>
    <span id="dialog"></span>
  </body>
 </html>
